body{
    background-color: rgb(178, 21, 37);
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.out-cont{
    width: 900px;
    height: 400px;
    background-color: rgb(222, 226, 226);
    border-radius: 10px;
    border: outset;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20%; */
}

.in-cont{
    width: 800px;
    height: 320px;
    color: red;
    background-image: url(../img/textura-rugos-2-peque.jpg);
    /* background-color: rgb(36, 35, 35); */
    border-radius: 5px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    transform: translateX(8px);
    grid-template-columns: 32% 32% 36%
    /* margin-bottom: 20%; */
}

.cruz-cont{
    width: 300px;
    height: 320px;
    /* background-color: rgb(4, 140, 168); */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.centro-cont{
    width: 200px;
    height: 320px;
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
    /* background-color: rgb(10, 123, 25); */
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center; */
    /* gap: 5px; */

}

.button-cont{
    width: 300px;
    height: 320px;
    /* background-color: rgb(253, 221, 11); */
}

#id-cruz{
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

#josti{
    width: 200px;
    height: 200px;
    background-color: rgb(165, 28, 140);
}

.medio{
    background-color: rgb(189, 191, 193);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 10px;
    margin-bottom: 5px;
    /* justify-content: space-between; */
}

#centro-top{
    border-radius: 0px 0px 10px 10px ;
    margin-bottom: 25px;
}

#centro-2{
    height: 40px;
    margin-bottom: 25px;
}

#centro-letras{
    height: 40px;
    margin-bottom: 25px;
}

#centro-botones{
    border: inset;
    width: 194px;
    height: 60px;
    margin-bottom: 25px;
    background-color: rgb(240, 246, 251);
    justify-content: space-between 5%;
}


#boton-dc{
    width: 60px;
    height: 20px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: space-between 10%;
}

#boton-iz{
    width: 60px;
    height: 20px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-between 10%;
}

#centro-bajo{
    border-radius: 10px 10px 0px 0px;
    height: 25px;
    margin-bottom: 25px;
}



