body{
    background-color: rgb(178, 21, 37);
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.out-cont{
    width: 900px;
    height: 400px;
    background-color: rgb(222, 226, 226);
    border-radius: 10px;
    border: outset;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20%; */
}

.in-cont{
    /* background-color: rgb(36, 35, 35); */
    width: 800px;
    height: 320px;
    color: red;
    background-image: url(../img/textura-rugos-2-peque.jpg);
    border-radius: 5px;
    display: flex;
    /* transform: translateX(8px); */
    /* justify-content: center;
    align-items: center; */
    /* grid-template-columns: 32% 32% 36% */
}

.cruz-cont{
    width: 300px;
    height: 320px;
    /* background-color: rgb(4, 140, 168); */
    display: flex;
    justify-content: center;
    /* position: relative; */
    align-items: flex-end;
}

#cruz-ve{
    display: flex;
    background-color: #D0D0D0;
    /* box-shadow: inset 3px 0px 0px #9a9999; */
    border-radius: 5px;
    bottom: 27%; 
    width: 70px;
    height: 185px;
    position: absolute;
}

#cruz-v-negra{
    display: flex;
    background-color: #111111;
    box-shadow: inset 3px 2px 2px #545252;
    border-radius: 5px;
    bottom: 29%;
    width: 60px;
    height:170px;
    position: absolute;
}

#cruz-ho{
    display: flex;
    background-color: #D0D0D0;
    /* box-shadow: inset 3px 0px 0px #9a9999; */
    border-radius: 5px;
    top: 44%;
    width: 185px;
    height:70px;
    position: absolute;
}

#cruz-h-negra{
    display: flex;
    background-color: #111111;
    box-shadow: inset 3px 0px 0px #545252;
    border-radius: 5px;
    width: 170px;
    height:60px;
    top: 45%;
    position: absolute;
}

#circulo-interno{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #1a1a1a;
    border-radius: 50%;
    border: inset 5px #161515;
    position: absolute;
    top: 47%;
}

#triangulo-top{
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #1a1a1a;
    display: flex;
    position: absolute;
    top: 35%;
}


#triangulo-bottom{
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #1a1a1a;
    display: flex;
    position: absolute;
    top: 63%;
}

.centro-cont{
    width: 200px;
    height: 320px;
    justify-content: space-between;
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
    /* background-color: rgb(10, 123, 25); */
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center; */
    /* gap: 5px; */
}

.button-cont{
    width: 300px;
    height: 320px;
    /* background-color: rgb(253, 221, 11); */
}

.medio{
    background-color: #979696;
    opacity: 0.8;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 10px;
    margin-bottom: 5px;
    /* justify-content: space-between; */
}

#centro-top{
    border-radius: 0px 0px 10px 10px ;
    margin-bottom: 15px;
}

.centro-2-y-letras{
    height: 40px;
    margin-bottom: 15px;
}

.select-start{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

#centro-botones{
    width: 194px;
    height: 80px;
    background-color: #c8c6c6;
    border: 4px solid #D0D0D0 ;
    opacity: 1;
    box-shadow: inset 3px 3px 0 #888;
    margin-bottom: 15px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    /* align-items: center; */
}

.botones-negros{
    display: flex;
    float: right;
    width: 65px;
    height: 25px;
    background-color:  #292929;
    border-radius: 50px;
    box-shadow: 3px 1px 3px #0003;
    margin: 15px;
}

#centro-bajo{
    border-radius: 10px 10px 0px 0px;
    height: 32px;
    margin-bottom: 25px;
}

.button-cont{
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; */
    display: grid;
    grid-template-rows: 52% 40% 8%;
    flex-direction: column;
    justify-content: center;
}

.brand-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* transform: translate(-10%, 0); */
    /* background-color: yellow; */
    margin-top: 20px;
    /* width: 50%;
    height: 50%; */
}

#brand{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #d23b40;
    text-align: center;
    /* margin-top: 20px; */
}

.circle-buttons-container{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: space-around; 
    align-items: center;
} 

.cont-blanco{
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: space-around; 
    margin: 10px;
    background-color: #c8c6c6;
    border: 4px solid #D0D0D0 ;
    /* border: outset; */
    border-radius: 5px;
    box-shadow: outset 3px 3px 0 #888;
}

.button-red{
    display: flex;
    width: 75px;
    height: 75px;
    background-color: #E5393F;
    border-radius: 50%;
    /* border: 4px solid #b9252a; */
    box-shadow: inset 1px 2px 2px #1E0606;

}

/* .sombra-blanca{
    box-shadow: inset 2px 3px 3px #fff4;
    border-radius: 50%;
} */

.letras-container{
    display: flex;
    /* justify-items: center; */
    justify-content: space-around;
    align-items: center;
    /* background-color: yellowgreen; */
}